@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body{
    padding: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #1b1f23;
    font-family: 'Ubuntu', sans-serif;
    background: #f8f7f2;
}

h1{font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h2{font-size: 16px;
    margin: 10px 0px;
    padding: 0;
    color: #999999;
    font-weight: normal;
}
p{margin: 5px 0px}
p a{
    color:#999;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 2px;
    border-bottom: 2px solid #eeeeee;
}
p a:hover{
    color: #1b1f23
}

.contacto{list-style: none;
    margin: 10px 0px 0px 0px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;}
    .contacto li{float: left;
        position: relative;
        margin-left: 10px;}
    .contacto li:first-child{margin-left:0px }
        .contacto li a{
            color:#999;
            font-size: 12px;
            text-decoration: none;
        }
        .contacto li a:hover{color: #1b1f23}

.wordpress{color: #2672AF !important; font-weight: bold}
.github{color: #1b1f23 !important;}
.twitter{color: #1b1f23 !important;}
.twitter{color: #55ACEE !important;}
.beta{color: #A32000 !important;}
.sensio{color: #83DA01 !important;}
.linkedin{color: #1381B9 !important;}
.about{color: #dd4444 !important;}
.cv{color: #1B1F23 !important;}

p.curriculum a{
    color:#999;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0px;
    float: left;
    border-bottom: none;
    padding-bottom: 2px;
    width: 100%;
}

    p.curriculum a:hover{
        color:#1b1f23;
    }
@media only screen and (max-width: 600px) {
    h1{text-align: center;
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 20px;
    }
    h2{text-align: center;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    p, .curriculum{ text-align: center}
    .contacto{width: 100%;
        margin: 0 auto ;
        text-align: center;
        font-size: 25px;
    }
        .contacto li{display:block; width: 100%}
            .contacto li a{
                font-size: 16px;
                width: 100%;
            }
}