{% extends 'base.twig' %}
{% block contenido %}

    <h1>Sitio web personal de <b>Juan Luis García Borrego</b></h1>
    <ul class="contacto">
        <li><a href="https://github.com/JuanLuisGarciaBorrego" target="_blank" title="GitHub"><i class="fa fa-git"></i></a></li>
        <li><a href="https://twitter.com/JuanluGarciaB" target="_blank" title="@JuanluGarciaB"><i class="fa fa-twitter"></i></a></li>
        <li><a href="mailto:garciaborrego@gmail.com" title="garciaborrego.juanlu@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
    </ul>

{% endblock %}