{% extends 'base.twig' %}
{% block contenido %}

    <h1>Sitio web personal de <b>Juan Luis García Borrego</b></h1>
    <ul class="contacto">
        <li><a href="http://blog.juanluisgarciaborrego.com/" target="_blank" title="Mi Blog"><i class="fa fa-wordpress"></i></a></li>
        <li><a href="https://github.com/JuanLuisGarciaBorrego" target="_blank" title="GitHub"><i class="fa fa-git"></i></a></li>
        <li><a href="https://twitter.com/JuanluGarciaB" target="_blank" title="@JuanluGarciaB"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/juanluisgarciaborrego" target="_blank" title="Linkedin"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href=" https://connect.sensiolabs.com/profile/juanlugb" title="SensioLab profile Symfony"><i class="fa fa-certificate"></i></a></li>
        <li><a href="mailto:juanluisgarciaborrego@gmail.com" title="Email juanluisgarciaborrego@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
    </ul>
{% endblock %}