{% extends 'base.twig' %}
{% block contenido %}

    <h1>Sitio web personal de <b>Juan Luis García Borrego</b></h1>

    <h2>Contacto</h2>

    <p><a href="mailto:juanluisgarciaborrego@gmail.com" title="Email juanluisgarciaborrego@gmail.com">juanluisgarciaborrego@gmail.com</a></p>

    <ul class="contacto">
        <li><a href="http://blog.juanluisgarciaborrego.com/" target="_blank" title="Mi Blog"><i class="fa fa-wordpress wordpress"></i> Visitar mi Blog</a></li>
        <li><a href="https://github.com/JuanLuisGarciaBorrego" target="_blank" title="GitHub"><i class="fa fa-git github"></i> GitHub</a></li>
        <li><a href="http://blog.juanluisgarciaborrego.com/sobre-mi/" target="_blank" title="Sobre mí"><i class="fa fa-user about"></i> Sobre mí</a></li>
        <li><a href="https://twitter.com/JuanluGarciaB" target="_blank" title="@JuanluGarciaB"><i class="fa fa-twitter twitter"></i> @JuanluGarciaB</a></li>
        <li><a href="https://www.linkedin.com/in/juanluisgarciaborrego" target="_blank" title="Linkedin"> <i class="fa fa-linkedin-square linkedin"></i> Linkedin</a></li>
        <li><a href="https://connect.sensiolabs.com/profile/juanlugb" title="SensioLab profile Symfony"><i class="fa fa-certificate sensio"></i> SensioLab Profile</a></li>
        <li><a href="https://betabeers.com/user/juan-luis-garcia-4971/" title="Test betabeers"><i class="fa fa-behance-square beta"></i> Test de conocimiento Betabeers </a></li>
    </ul>
{% endblock %}